@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-sand-50: #fdfdfc;
  --color-sand-100: #f9f9f8;
  --color-sand-150: #f1f0ef;
  --color-sand-200: #e9e8e6;
  --color-sand-300: #e2e1de;
  --color-sand-400: #dad9d6;
  --color-sand-500: #cfceca;
  --color-sand-600: #bcbbb5;
  --color-sand-700: #8d8d86;
  --color-sand-800: #82827c;
  --color-sand-900: #63635e;
  --color-sand-950: #21201c;

  --color-olive-50: #fcfdfc;
  --color-olive-100: #f8faf8;
  --color-olive-150: #eff1ef;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: var(--font-sans); */
  /* font-family: var(--font-noto-sans-jp); */
  font-family: var(--font-ibm-plex-sans-jp);
}
